.hobbie-homepage {
    background: url('/public/images/IMG_1950.jpg') center center/cover no-repeat ;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.hobbie-header {
    font-size: 100px;
    background-image: radial-gradient(rgba(0,0,0,0.5), transparent);
    background-position: center;
    color: #fff;
    position: relative;
    width: 100%;
    text-align: center;
    height: 120px;
    top: 30%;
}

.hobbie-header-small {
    font-size: 60px;
    background-image: radial-gradient(rgba(0,0,0,0.5), transparent);
    background-position: center;
    color: #fff;
    position: relative;
    width: 100%;
    text-align: center;
    height: 80px;
    top: 35%;
}